<h1 class="title">Produtos</h1>
<h2 class="subtitle">
  Liste, crie, edite ou apague os produtos
</h2>
<app-upload-products></app-upload-products>
<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Type</th>
      <th>Rating</th>
      <th>Price</th>
      <th>Created</th>
      <th style="width: 10px;">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of products">
      <th>{{ product?.title }}</th>
      <th>{{ product?.type }}</th>
      <th>{{ product?.rating }}</th>
      <th>{{ product?.price }}</th>
      <th>{{ product?.created }}</th>

      <td>
        <div class="field has-addons">
          <a class="button is-warning" routerLink="/edit/{{ product.id }}"
            >Edit</a
          >

          <a routerLink="/delete/{{ product.id }}" class="button is-danger"
            >Delete</a
          >
        </div>
      </td>
    </tr>
    <tr *ngIf="products?.length == 0">
      <th>Nenhum produto cadastrado</th>
    </tr>
  </tbody>
</table>
